body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
}

a {
    color: #2C5C55;
}

a:hover {
    color: #4B9C8F;
}

.container {
    margin: 100px auto 0 auto;
    max-width: 600px;
}

.hide {
    display: none;
}
  
.start {
   
}

.scores {
    position: absolute;
    top: 20px;
    left: 20px;
}

.timer {
    position: absolute;
    top: 20px;
    right: 20px;
}

.choices button {
    display: block;
  }